<div id="navbar">
    <a href="" id="navbar-main-link">
        <img src="../images/icon_black.png" alt="">
    </a>
    <div id="navbar-input-wrapper">
        <div id="navbar-input-container">
            <img src="../images/icons/search.png" alt="">
            <input type="text" placeholder="Search Anything" id="navbar-input">
        </div>
        <div id="search-results-container">
            <p>We were unable to find any results for your search.</p>
        </div>
    </div>
    <div id="navbar-links">
        <a href="../institutions">Institutions</a>
        <a href="../applications">Applications</a>
        <a href="../portfolio">Portfolio</a>
        <a href="../notifications">Notifications</a>
        <a href="../account">Account</a>
    </div>
</div>
<style>
    #navbar{
        display:flex;
        flex-direction:row;
        align-items:center;
        justify-content:space-between;
        background:var(--bg-color-1);
        width:calc(100vw - 96px);
        height:64px;
        padding:0 48px;
    }

    #navbar-main-link > img{
        filter: invert(11%) sepia(6%) saturate(5150%) hue-rotate(198deg) brightness(98%) contrast(91%);
        height:24px;
    }

    #navbar-main-link > img:hover{
        filter: invert(58%) sepia(97%) saturate(439%) hue-rotate(48deg) brightness(108%) contrast(110%);
    }

    #navbar-input-wrapper{
        margin:0 96px;
        border:1px solid var(--border-color);
        transition-duration:250ms;
        border-radius:4px;
        position:absolute;
        top:16px;
    }

    #navbar-input-wrapper > div:last-of-type{
        display:none;
    }

    #navbar-input-container{
        display:flex;
        flex-direction:row;
        align-items:center;
        justify-content:flex-start;
        padding:0 12px;
        border-radius:4px;
    }

    #navbar-input-container > img{
        height:16px;
        filter:invert(0.5);
        transition-duration:250ms;
    }

    #navbar-input{
        padding:0 12px;
        font-size:12px;
        height:30px;
        outline:none;
        border:none;
        width:calc(100vw - 768px);
        background:transparent;
    }

    #navbar-links{
        display:flex;
        flex-direction:row;
        align-items:center;
        gap:24px;
    }

    #navbar-links > a{
        text-decoration:none;
        color:var(--text-color-1);
        font-size:12px;
        font-weight:700;
    }

    #navbar-links > a:hover{
        color:var(--text-color-2);
    }

    #navbar-input-wrapper:hover{
        border:1px solid var(--bg-color-1);
        box-shadow:0 0 12px 0 var(--border-color);
    }

    #navbar-input-wrapper.focused > #navbar-input-container > img{
        filter:none;
    }

    #navbar-input-wrapper.focused {
        border: 1px solid var(--bg-color-1);
        box-shadow: 0 0 12px 0 var(--border-color);
    }

    #navbar-input-wrapper.focused #search-results-container {
        display: flex;
    }

    #search-results-container{
        width:calc(100% - 48px);
        padding:12px 24px;
    }

    #search-results-container > p{
        margin:0;
        font-size:12px;
    }

    .active-nav-elem{
        color:var(--accent-color) !important;
    }
</style>
<script>

    function setActiveNavLink() {
        const navbarLinks = document.querySelectorAll('#navbar-links a');
        let currentUrl = window.location.pathname;

        if (currentUrl.endsWith('/')) {
            currentUrl = currentUrl.slice(0, -1);
        } currentUrl = currentUrl.split('/').pop();

        navbarLinks.forEach(link => {
            const linkHref = link.getAttribute('href').split('/').pop();

            if (linkHref === currentUrl) {
                link.classList.add('active-nav-elem');
            }
        });
    }

    setActiveNavLink();
</script>