<div id="sidebar">
    <div id="sidebar-top">
        <a href="../dashboard/" id="sidebar-banner">
            <img src="../images/icon.png" alt="">
            <h1>ProAdmit</h1>
        </a>
        <div id="sidebar-search-container">
            <input id="sidebar-search" type="text" placeholder="Search Anything">
            <img src="../images/icons/search.png" alt="">
        </div>
        <a href="../dashboard/" class="sidebar-link">
            <img src="../images/icons/home.png" alt="">
            <p>Home</p>
        </a>
        <a href="../calendar/" class="sidebar-link">
            <img src="../images/icons/calendar.png" alt="">
            <p>Calendar</p>
        </a>
        <div class="sidebar-break"></div>
        <a href="../supplementals/" class="sidebar-link">
            <img src="../images/icons/document.png" alt="">
            <p>Supplementals</p>
        </a>
        <a href="../institutions/" class="sidebar-link">
            <img src="../images/icons/university.png" alt="">
            <p>Institutions</p>
        </a>
        <a href="../portfolio/" class="sidebar-link">
            <img src="../images/icons/portfolio.png" alt="">
            <p>Portfolio</p>
            <img src="../images/icons/crown.png" alt="">
        </a>
        <div class="sidebar-break"></div>
        <a href="../settings/" class="sidebar-link">
            <img src="../images/icons/settings.png" alt="">
            <p>Settings</p>
        </a>
        <a href="../login/" class="sidebar-link">
            <img src="../images/icons/logout.png" alt="">
            <p>Logout</p>
        </a>
    </div>
    <div id="sidebar-bottom">
        <div id="sidebar-account-container">
            <div id="sidebar-pfp"></div>
            <div id="sidebar-account-text">
                <h1 id="sidebar-name"></h1>
                <p id="sidebar-email"></p>
            </div>
        </div>
        <a href="../settings/?upgrade" id="sidebar-upgrade-btn">
            <img src="../images/icons/crown.png" alt="">
            <p>Go Premium</p>
        </a>
    </div>
</div>
<style>
    *::-webkit-scrollbar {
        width: 8px; /* Adjust the width of the scrollbar */
    }

    *::-webkit-scrollbar-track {
        background: var(--border-color);
        border-radius: 10px; /* Adjust the roundness of the track */
    }

    *::-webkit-scrollbar-thumb {
        background: #a0a0a0;
        border-radius: 10px; /* Adjust the roundness of the thumb */
    }

    *::-webkit-scrollbar-thumb:hover {
        background: var(--text-color-1);
    }

    #sidebar{
        display:flex;
        flex-direction:column;
        justify-content:space-between;
        width:304px;
        height:100vh;
        background:rgba(255,255,255,0.8);
        backdrop-filter:blur(6px);
    }

    #sidebar > div{
        display:flex;
        flex-direction:column;
    }

    #sidebar-top{
        overflow-y:scroll;
        height:calc(100% - 141px);
        overflow-x:hidden;
    }

    #sidebar-bottom{
        width:256px;
        padding:24px;
        gap:24px;
    }

    #sidebar-banner{
        display:flex;
        flex-direction:row;
        align-items:center;
        width:256px;
        padding:24px;
        padding-bottom:0;
        text-decoration:none;
        gap:12px;
    }

    #sidebar-banner > img{
        height:28px;
    }

    #sidebar-banner > h1{
        font-weight:700;
        font-size:18px;
        margin:0;
    }

    #sidebar-search-container{
        position:relative;
        display:flex;
        flex-direction:row;
        align-items:center;
        justify-content:flex-start;
        margin:24px;
        width:256px;
    }

    #sidebar-search-container > img{
        position:absolute;
        filter:invert(0.625);
        transition-duration:250ms;
        left:12px;
        height:16px;
    }

    #sidebar-search{
        width:calc(100% - 52px);
        border:2px solid var(--border-color);
        outline:none;
        height:36px;
        border-radius:6px;
        padding-left:36px;
        padding-right:12px;
        font-size:14px;
    }

    #sidebar-search:focus{
        border:2px solid black;
    }

    #sidebar-search:focus + img{
        filter:invert(0);
    }

    .sidebar-link{
        display:flex;
        flex-direction:row;
        align-items:center;
        text-decoration:none;
        transition-duration:250ms;
        width:252px;
        padding:12px 24px;
        border-left:4px solid transparent;
        gap:24px;
    }

    .sidebar-link > img:nth-of-type(1){
        height:20px;
        filter:invert(0.5);
        transition-duration:250ms;
    }

    .sidebar-link > p{
        margin:0;
        color:gray;
        font-weight:500;
        font-size:15px;
    }

    .sidebar-link > img:nth-of-type(2){
        height:14px;
        filter:invert(0.5);
        margin-left:-12px;
        transition-duration:0ms;
    }

    .sidebar-link:hover{
        border-left:4px solid var(--accent-color);
    }

    .sidebar-link:hover > img:nth-of-type(2){
        filter: invert(56%) sepia(100%) saturate(3889%) hue-rotate(326deg) brightness(86%) contrast(127%);
    }

    .active-sidebar-link{
        border-left:4px solid var(--text-color-1);
    }

    .active-sidebar-link > p{
        color:var(--text-color-1);
    }

    .active-sidebar-link > img{
        filter:invert(0) !important;
    }

    .sidebar-break{
        width:256px;
        margin:12px 24px;
        height:2px;
        background:var(--border-color);
        border-radius:1px;
    }

    #sidebar-account-container{
        display:flex;
        flex-direction:row;
        align-items:center;
        justify-content:flex-start;
        gap:12px;
    }

    #sidebar-pfp{
        background:var(--border-color);
        width:36px;
        height:36px;
        display:flex;
        flex-direction:row;
        align-items:center;
        justify-content:center;
        border-radius:6px;
        font-size:16px;
        font-weight:600;
        color:white;
    }

    #sidebar-account-text > h1{
        font-weight:400;
        font-size:16px;
        margin:0;
    }

    #sidebar-account-text > p{
        font-weight:400;
        font-size:14px;
        color:gray;
        margin:0;
    }

    #sidebar-upgrade-btn{
        display:flex;
        flex-direction:row;
        align-items:center;
        justify-content:center;
        text-decoration:none;
        background:var(--border-color);
        width:100%;
        height:32px;
        gap:6px;
        border-radius:6px;
    }

    #sidebar-upgrade-btn > img{
        height:14px;
        filter:invert(0.375);
    }

    #sidebar-upgrade-btn > p{
        font-size:14px;
        color:gray;
        font-weight:500;
    }

    #sidebar-upgrade-btn:hover{
        background:var(--accent-color);
    }

    #sidebar-upgrade-btn:hover > p{
        color:white;
    }

    #sidebar-upgrade-btn:hover > img{
        filter:invert(1);
    }

    #main-wrapper{
        width:100vw;
        height:100vh;
        display:flex;
        flex-direction:row;
        align-items:flex-start;
        justify-content:flex-start;
        overflow:hidden;
        /*background-image:url("../images/background/landscape_4.jpg");
        background-repeat: no-repeat;
        background-size:cover;
        background-position:center;*/
    }

    #parent-container{
        width:calc(100vw - 400px);
        overflow-y:scroll;
        height:100vh;
        display:flex;
        flex-direction:column;
        gap:24px;
        padding:0 48px;
    }

    #parent-container > *:first-child{
        margin-top:48px;
    }

    #parent-container > *:last-child{
        margin-bottom:48px;
    }

    #parent-container > h1{
        margin:0;
        font-size:32px;
        padding:0;
    }
</style>
<script>
    function removeAllChildren(element, elementType) {
        // Convert NodeList to array for safe iteration while modifying the DOM
        const children = Array.from(element.childNodes);

        // Iterate over all child nodes
        for (const child of children) {
            if (!elementType) {
                // Remove all children if no elementType is specified
                element.removeChild(child);
            } else if (child.nodeType === Node.ELEMENT_NODE && child.tagName.toLowerCase() === elementType.toLowerCase()) {
                // Remove child of the specified type
                element.removeChild(child);
            }
        }
    }


    function getToken() {
        return sessionStorage.getItem('token') || localStorage.getItem('token');
    }

    function removeToken() {
        sessionStorage.removeItem('token');
        localStorage.removeItem('token');
    }

    async function getUser(){
        const uuid = getToken();

        const response = await fetch(`https://us-central1-proadmit-29198.cloudfunctions.net/app/getUser`, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
                'Access-Control-Allow-Origin': '*',
                'Authorization':`Bearer ${uuid}`
            },
            mode: 'cors'
        }).catch(error => {
            console.log(error)
        });

        if(response.status === 404 || response.status === 403) location.href = "../login";

        return response.json();
    }

    function getInitials(str) {
        // Trim the string to remove any leading or trailing whitespace
        let trimmedStr = str.trim();

        // Split the string by spaces into an array of words
        let words = trimmedStr.split(' ');

        // Get the first and last word from the array
        let firstWord = words[0];
        let lastWord = words[words.length - 1];

        // Get the first letter of the first and last word, and convert them to uppercase
        return firstWord[0].toUpperCase() + lastWord[0].toUpperCase();
    }

    async function initializeSidebar(){
        const currentPath = window.location.pathname;
        const sidebarLinks = document.querySelectorAll('.sidebar-link');

        sidebarLinks.forEach(function(link) {
            const linkPath = new URL(link.href).pathname;

            if (currentPath === linkPath) {
                link.classList.add('active-sidebar-link');
            }
        });

        const user = await getUser();
        const colors = ["#e56092", "#3cc1a6", "#5697f4", "#f48443", "#cf8ae0"];

        console.log(user);

        document.getElementById("sidebar-pfp").style.background = colors[user.color];
        document.getElementById("sidebar-pfp").innerHTML = getInitials(user.fullName);
        document.getElementById("sidebar-name").textContent = user.fullName;
        document.getElementById("sidebar-email").textContent = user.email;
    } initializeSidebar();

    document.getElementById('sidebar-search').addEventListener('keydown', function(event) {
        if (event.key === 'Enter') {
            window.location.href = `../search/?query=${this.value}`;
        }
    });

</script>