<div id="navbar">
    <div id="navbar-left">
        <img src="../images/icon.png" alt="">
        <h1>SwiftGig</h1>
    </div>
    <div id="navbar-middle">
        <a class="navbar-elem" href="../">Find Projects</a>
        <a class="navbar-elem" href="../new-proposal">Upload Proposal</a>
        <a class="navbar-elem" href="../company">Company</a>
        <div id="navbar-input-container">
            <img src="../images/icons/search.png" alt="">
            <input type="text" placeholder="Search Any Gigs" id="navbar-input">
        </div>
        <div id="navbar-right">
            <div style="display:none;">
                <a href="../profile/?jobs" class="navbar-link">
                    <img src="../images/icons/job.png" alt="">
                    <p>Gigs</p>
                </a>
                <a href="../profile" class="navbar-link">
                    <img src="../images/icons/male_user.png" alt="">
                    <p>Profile</p>
                </a>
            </div>
            <div style="display:none;">
                <a href="../login" class="button-secondary">Login</a>
                <a href="../login?new-user" class="button-primary">Register</a>
            </div>
        </div>
    </div>
</div>
<style>
    #navbar{
        width:calc(100vw - 48px);
        padding:0 24px;
        height:56px;
        background:var(--bg-color-1);
        display:flex;
        flex-direction:row;
        align-items:center;
        justify-content:space-between;
    }

    #navbar > div, #navbar-right, #navbar-right > div{
        height:100%;
        display:flex;
        flex-direction:row;
        align-items:center;
    }

    #navbar-left{
        gap:12px;
    }

    #navbar-right > div:last-of-type{
        gap:12px;
    }

    #navbar-right > div:first-of-type{
        gap:24px;
    }

    #navbar-left > img{
        height:36px;
    }

    #navbar-left > h1{
        font-size:18px;
        font-weight:600;
        margin:0;
    }

    .navbar-elem{
        font-size:14px;
        text-decoration:none;
        color:gray;
        font-weight:500;
        height:100%;
        display:flex;
        flex-direction:row;
        align-items:center;
        padding:0 12px;
    }

    .navbar-elem:hover{
        color:var(--text-color-1);
    }

    .active-navbar-elem{
        color:var(--text-color-1);
        font-weight:600;
        height:calc(100% - 4px);
        border-bottom:2px solid var(--accent-color);
        border-top:2px solid transparent;
    }

    #navbar-input-container{
        display:flex;
        flex-direction:row;
        align-items:center;
        height:28px;
        width:calc(100vw - 1024px);
        position:relative;
        margin: 0 24px 0 12px;
    }

    #navbar-input{
        background:var(--bg-color-2);
        height:100%;
        width:calc(100% - 48px);
        padding-left:48px;
        outline:none;
        border-radius:18px;
        border:2px solid var(--bg-color-1);
        font-size:14px;
    }

    #navbar-input:focus{
        border:2px solid var(--accent-color);
    }

    #navbar-input-container > img{
        position:absolute;
        left:15px;
        width:18px;
        filter:invert(0.5);
    }

    .navbar-link{
        display:flex;
        flex-direction:column;
        align-items:center;
        justify-content:center;
        text-decoration:none;
    }

    .navbar-link > img{
        height:24px;
    }

    .navbar-link > p{
        font-size:12px;
        color:var(--text-color-1);
        margin:0;
    }
</style>
<script>
    function initialize(){
        if(true){
            document.querySelector("#navbar-right").children[0].style.display = "flex";
        } else {
            document.querySelector("#navbar-right").children[1].style.display = "flex";
        }
    } initialize();
</script>