#progress-container{
    display:flex;
    flex-direction:column;
    background:var(--bg-color-1);
    padding:24px;
    border-radius:12px;
    width:calc(100% - 48px);
    gap:6px;
}

#progress-container > h1{
    margin:0;
    font-size:18px;
}

#progress-container > p{
    font-size:14px;
    color:gray;
    margin:0;
}

#progress-container > ul {
    margin:0;
}

#progress-container > ul > li{
    color:gray;
    font-size:14px;
}

#progress-container > ul > li > a{
    color:var(--text-color-1);
}

#parent-container > h2{
    margin:0;
    color:var(--text-color-1);
    font-size:18px;
}