body{
    overflow-x:hidden;
}

#parent-container{
    display:flex;
    flex-direction:row;
    align-items:flex-start;
    gap:24px;
    padding:36px;
    width:calc(100vw - 72px);
    position:relative;
    justify-content:flex-start;
}

#document-viewer{
    display:flex;
    flex-direction:row;
    align-items:flex-start;
    justify-content:flex-start;
    gap:24px;
    flex-wrap:wrap;
    width:calc(100% - 536px);
}

.document{
    display:flex;
    flex-direction:column;
    width:304px;
    border-radius:4px;
    outline:1px solid var(--border-color);
    text-decoration:none;
    overflow:hidden;
}

.document:hover{
    outline:1px solid transparent;
    box-shadow:0 0 12px 0 var(--border-color);
}

.document:hover > .document-banner-container > .document-banner > img{
    filter:none;
}

.document-banner-container{
    width:100%;
    display:flex;
    flex-direction:row;
    position:relative;
    align-items:flex-end;
    justify-content:center;
    background:var(--bg-color-2);
    height:304px;
}

.document-banner{
    background:var(--bg-color-1);
    width:208px;
    height:269px;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    border-top-left-radius:4px;
    border-top-right-radius:4px;
}

.document-banner > img{
    width:128px;
    filter:grayscale(75%) contrast(0.625) brightness(200%);
}

.document-priority{
    position:absolute;
    top:24px;
    left:24px;
    color:white;
    text-transform:uppercase;
    padding:0 12px;
    border-radius:12px;
    font-size:12px;
    height:24px;
    font-weight:700;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
}

.document-information{
    padding:24px;
    border-top:1px solid var(--border-color);
    background:var(--bg-color-1);
    display:flex;
    flex-direction:column;
    gap:6px;
}

.document-information > h1{
    font-size:14px;
    margin:0;
}

.document-information > p{
    font-size:14px;
    color:gray;
    margin:0;
}

.document-options{
    margin-top:18px;
    display:flex;
    flex-direction:row;
    align-items:flex-start;
    justify-content:flex-start;
    gap:12px;
}

.document-options > img, .document-options > a > img{
    height:18px;
    filter:invert(0.5);
}

.document-options > img:hover, .document-options > a > img:hover{
    transform:scale(1.1);
    filter:none;
}

#details-container{
    width:464px;
    border:1px solid var(--border-color);
    position:sticky;
    top:36px;
    right:36px;
    padding:24px;
    border-radius:4px;
}

#document-viewer > h1{
    margin:0;
    width:100%;
    font-size:48px;
}